body {
	background: #2c3050;
}

#nav  {
	height: 200px;
	background: #0776a0;
}

 #logo {
	width: 600px;
	height: 100px;
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#portrait {
		float: right;
		width: 150px;
		height: 175px;
		margin-top: 10px;
}

@media all and (max-width: 1000px) {
	#portrait {
		display: none;
	}
}

#frame {
	width: 750px;
	margin: auto;
	background: #2c3050;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

#item1, #item2, #item3 {
	display: flex;
	 flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.box {	
	width: 400px;
	height: 250px;
	background: #db5925;
	border: 5px solid white;
	margin: 20px 80px 20px 0;
}

#sidebox2 {
	margin: 20px 80px 20px 0;
}

#prob2 {
	margin-right: 0;
}

.circle, .circle2 {
	position: relative;	
	width: 150px;
	height: 150px;	
	background:#0776a0;
	border: 5px solid white;
	border-radius: 	50%;
}

.circle {
	left: 320px;
}

.circle2 {	
	right: 80px;
}

.color {
	background: white;
	text-align: center;	
}

p#soln1, p#soln2, p#soln3 {
	margin: 0;
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: white;
}

.left, .right {
	float: left;
	width: 75%;
	word-wrap: break-word;
	font-family: Courier;
	font-size: 12px;
	font-weight: 900;
	margin-top: 0;
	padding-left: 10px;
	color: white;
}

.right {
	float: right;	
}

.problem {
	font-family: Courier;
}

footer {
	height: 75px;
	background: black;
}

#footer p {
	font-family: "Courier New";
	color: #666;
	font-size: 36px;
	text-align: center;
	padding-top: 15px;
}

#sidebox1, #sidebox2, #sidebox3 {	
	z-index: 1;
	width: 200px;
	height: 250px;
	background: white;
	border: 5px solid #0776a0;
	visibility: hidden;	
}

input[type='number'], #factors p, button, 
#sidebox1 p, #sidebox2 p, #sidebox3 p {
	margin: 5px;
}